{%- assign unique_one = '' -%}
{%- assign unique_two = '' -%}
{%- assign unique_three = '' -%}
{%- assign script_objects = '' -%}

{%- for block in section.blocks -%}
  {%- capture script_objects -%}
    {{- script_objects -}}
    { answerOne: '{{- block.settings.answer_one -}}', answerTwo: '{{- block.settings.answer_two -}}', answerthree: '{{- block.settings.answer_three -}}' }
    {%- unless forloop.last -%},{%- endunless -%}
  {%- endcapture -%}

  {%- unless unique_one contains block.settings.answer_one -%}
    {%- capture answers_one -%}
      {{- answers_one -}}
      <option value="{{- block.settings.answer_one | replace: ' ', '-' -}}">
        {{- block.settings.answer_one -}}
      </option>
    {%- endcapture -%}
    {%- assign unique_one = unique_one | append: block.settings.answer_one -%}
  {%- endunless -%}
  
  {%- unless unique_two contains block.settings.answer_two -%}
    {%- capture answers_two -%}
      {{- answers_two -}}
      <option value="{{- block.settings.answer_two | replace: ' ', '-' -}}">
        {{- block.settings.answer_two -}}
      </option>
    {%- endcapture -%}
    {%- assign unique_two = unique_two | append: block.settings.answer_two -%}
  {%- endunless -%}

  {%- unless unique_three contains block.settings.answer_three -%}
    {%- capture answers_three -%}
      {{- answers_three -}}
      <option value="{{- block.settings.answer_three | replace: ' ', '-' -}}">
        {{- block.settings.answer_three -}}
      </option>
    {%- endcapture -%}
    {%- assign unique_three = unique_three | append: block.settings.answer_three -%}
  {%- endunless -%}
{%- endfor -%}

<script type="text/javascript">
  window.quizAnswers = [{{ script_objects }}];
</script>

<section class="ccontain">
  <h2>{{- section.settings.title -}}</h2>
  <div class="mt-10 flex justify-between">
    <div class="flex flex-col gap-y-8">
      <div class="select-wrap">
        <select data-quiz-question-one
                id="quiz-question-one"
                name="quiz-question-one">
          {{- answers_one -}}
        </select>
        <label for="quiz-question-one">
          {{- section.settings.question_one -}}
        </label>
      </div>

      <div data-question-two-contain class="hidden">
        <div class="select-wrap">
          <select data-quiz-question-two
                  id="quiz-question-two"
                  name="quiz-question-two">
            {{- answers_two -}}
          </select>
          <label for="quiz-question-two">
            {{- section.settings.question_two -}}
          </label>
        </div>
      </div>

      <div data-question-three-contain class="hidden">
        <div class="select-wrap">
          <select data-quiz-question-three
                  data-question-three-contain
                  id="quiz-question-three"
                  name="quiz-question-three">
            {{- answers_three -}}
          </select>
          <label for="quiz-question-three">
            {{- section.settings.question_three -}}
          </label>
        </div>
      </div>
    </div>
  </div>
</section>

{%- render 'spacer',
      _mobile_space: section.settings.bottom_margin_mobile,
      _desktop_space: section.settings.bottom_margin_desktop -%}


{% schema %}
  {
    "name": "Quiz",
    "settings": [
      {
        "type": "header",
        "content": "Section Spacing"
      },
      {
        "id": "bottom_margin_mobile",
        "label": "Bottom Margin - Mobile",
        "type": "range",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 40
      },
      {
        "id": "bottom_margin_desktop",
        "label": "Bottom Margin - Desktop",
        "type": "range",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 70
      },
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "question_one",
        "label": "Question One"
      },
      {
        "type": "text",
        "id": "question_two",
        "label": "Question Two"
      },
      {
        "type": "text",
        "id": "question_three",
        "label": "Question Three"
      }
    ],
    "blocks": [
      {
        "type": "quiz_answer",
        "name": "Quiz Answer",
        "settings": [
          {
            "type": "text",
            "id": "answer_one",
            "label": "Answer One"
          },
          {
            "type": "text",
            "id": "answer_two",
            "label": "Answer Two"
          },
          {
            "type": "text",
            "id": "answer_three",
            "label": "Answer Three"
          },
          {
            "type": "product",
            "id": "recommendation",
            "label": "Product Recommendation"
          }
        ]
      }
    ],
    "templates": [
      "page",
      "index",
      "collection",
      "product",
      "404"
    ],
    "presets": [
      {
        "name": "Quiz"
      }
    ]
  }
{% endschema %}